<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027642031520-1u1omnscqa5tsc7an6gs05n25h472agc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027642031520-1u1omnscqa5tsc7an6gs05n25h472agc</string>
	<key>API_KEY</key>
	<string>AIzaSyBwU1L1-xFf3b0rdTWQff4dMV-JpNrRdOA</string>
	<key>GCM_SENDER_ID</key>
	<string>1027642031520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatV2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-v2-2e8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-v2-2e8d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027642031520:ios:492b352a03ed0cfa0578c5</string>
</dict>
</plist>